In [7]:
import pandas as pd
import scipy.stats as sts
import matplotlib.pyplot as plt
import numpy as np
%matplotlib notebook

In [8]:
csv2014='2014_All_Temps.csv'
csv2015='2015_All_Temps.csv'

In [15]:
weather2014Df=pd.read_csv(csv2014)
weather2015Df=pd.read_csv(csv2015)
temps2014Df=weather2014Df[['County_Name', 'Hourly_Dry_Bulb_Temperature']]
temps2015Df=weather2015Df[['County_Name', 'Hourly_Dry_Bulb_Temperature']]
temps2014Df.head()

         County_Name  Hourly_Dry_Bulb_Temperature
0  Bernalillo_County                         22.0
1  Bernalillo_County                         23.0
2  Bernalillo_County                         21.0
3  Bernalillo_County                         22.0
4  Bernalillo_County                         21.0